<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/styles.css">
    <title>Todo-List</title>
</head>
<body>
    
</body>
</html>

<!-- <%= Outputs the value into the template (HTML escaped) -->
<!-- <h1>It's a <%= kindOfDay %></h1> -->

<!-- <% 'Scriptlet' tag, for control-flow, no output -->
<!-- <% if(kindOfDay === "Saturday"){ %>
    <h1 style="color: pink;">It's a <%= kindOfDay %> ToDO List</h1>
<% }else{ %>
    <h1 style="color: blue;">It's a <%= kindOfDay %> ToDO List</h1>
<% } %> -->